<h3>Adding Task</h3>
{{#if warning}}
  <h3 class="warning" id="warning">{{warning}}</h3>
{{/if}}
<form id=add-task>
  <fieldset>
    <table>
      <thead>
        <th>Task Name</th>
        <th>Task Date</th>
        <th>Task Time</th>
        <th>Task Address</th>
        <th>Task City</th>
        <th>Task State</th>
        <th>Task Recurring? (1=yes 0=no)</th>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" name="name" id="newName"></td>
          <td><input type="text" name="date" id="newDate"></td>
          <td><input type="text" name="time" id="newTime"></td>
          <td><input type="text" name="address" id="newAddress"></td>
          <td><input type="text" name="city" id="newCity"></td>
          <td><input type="text" name="state" id="newState"></td>
          <td><input type="text" name="recurring" id="newRecurring"></td> 
        </tr>
      </tbody>
    </table>
    <div></div>
    <button onclick="addItem()">Add Task</button>
  </fieldset>
</form>

<script>
  function addItem(){
      $.ajax({
          url: '/listview',
          type: 'PUT',
          data: $('#add-task').serialize(),
          success: function(result){
            window.location.href = '/listview';
          }
      })}
</script>

<br>
<table class="displayTasks">
	<thead>
		<th>Task Name</th>
		<th>Date</th>
		<th>Time</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Recurring</th>
	</thead>
	<tbody>
	{{#each results}}
	<tr> 
	    <td>{{name}}</td> 
	    <td>{{date}}</td>
	    <td>{{time}}</td> 
	    <td>{{Location.address}}</td> 
	    <td>{{Location.city}}</td> 
	    <td>{{Location.state}}</td>
	    <td>{{recurring}}</td>  
      <td><button class=TaskModButton> Delete</button></td>
      <td><button class=TaskModButton> Update</button></td>
	</tr> 
	{{/each}}
	</tbody>
</table>

<div id="spacer"></div>
<button onclick="window.location.href='/updateprofile'" id="prof"> Update Profile </button>
<button onclick="window.location.href='/add-blackout'" id="prof"> Set Blackout Period </button>
<button onclick="window.location.href='/clear-calendar'" id="prof"> Clear calendar dates </button>


<div id="spacer"></div>
<button type="button" id=MapView> Schedule Map View </button>
<button type="button" id=CalendarView> Schedule Calendar View </button>

<div id="spacer"></div>
<button type="button" id=LogOut> Logout </button>

<script src="/scripts/deletetask.js" defer></script>
		
